img.preview {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.hidden {
  visibility: hidden;
  position: absolute;
}

.navbar {
  position: sticky;
  top: 0;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


label.title {
  position: absolute;
  left: 20px;
  font-size: xx-large;
}

.navbar>* {
  margin: 20px;
}

.btn {
  height: 50%;
}

.dropzone {
  width: 600px;
  min-height: 150px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content>* {
  margin: 20px;
}

.theader {
  position: sticky;
  top: 100px;
}

.main_background {
  background-color: white;
}

.accent_background {
  background-color: darkgray;
}

.filename {
  text-align: center;
}