<!DOCTYPE html>

<html>

<head>
  <title>Rembg</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

  <script src="{{ url_for('static', filename='functions.js') }}"></script>

</head>

<body>


  <div class="navbar accent_background">
    <label class="title">Rembg</label>
    <label id="label_num_selected">0 Images selected</label>
    <button class="btn btn-secondary" onclick="removeMultipleBackgrounds()">Remove Background</button>
    <button class="btn btn-secondary" onclick="downloadMultiple()">Download</button>
    <button class="btn btn-secondary" onclick="deleteMultiple()">Delete Image</button>
  </div>

  <div class="content">
    <div>
      <form action="/upload/" class="dropzone" id="myDropzone"></form>
    </div>

    <div class="settings">
      <div class="setting">
        <label for="selectModel">Model: </label>
        <select name="selectModel" id="selectModel">
          <option value="u2net">u2net</option>
          <option value="u2netp">u2netp</option>
          <option value="u2net_human_seg" selected>u2net_human_seg</option>
          <option value="u2net_cloth_seg">u2net_cloth_seg</option>
          <option value="silueta">silueta</option>
          <option value="isnet-general-use">isnet-general-use</option>
          <option value="isnet-anime">isnet-anime</option>
          <option value="sam">sam</option>
        </select>
      </div>

      <div class="setting">
        <label for="enableAlphaMatting">Enable Alpha Matting</label>
        <input class="checkbox" id="enableAlphaMatting" type="checkbox" onchange="enableAlphaMatting(this.checked)" checked/>
      </div>

      <div class="setting" id="settingAlphaMattingForeground">
        <label for="alphaMattingForegroundThreshold">alphaMattingForegroundThreshold</label>
        <input type="range" min=0 max=255 value=240 class="slider" id="alphaMattingForegroundThreshold"
          onchange="updateForegroundThreshold(this.value)">
        <label id="alphaMattingForegroundThresholdValue">240</label>
      </div>

      <div class="setting" id="settingAlphaMattingBackground">
        <label for="alphaMattingBackgroundThreshold">alphaMattingBackgroundThreshold</label>
        <input type="range" min=0 max=255 value=160 class="slider" id="alphaMattingBackgroundThreshold"
          onchange="updateBackgroundThreshold(this.value)">
        <label id="alphaMattingBackgroundThresholdValue">160</label>
      </div>
      <div class="setting" id="settingAlphaMattingErode">
        <label for="alphaMattingErode">alphaMattingErode</label>
        <input type="range" min=0 max=20 value=10 class="slider" id="alphaMattingErode"
          onchange="updateErode(this.value)">
        <label id="alphaMattingErodeValue">10</label>
      </div>
    </div>

    <table>
      <thead class="theader main_background">
        <th class="theader">
          <input class="checkbox form-check" id="select_all" type="checkbox"
            onchange="setAllRowCheckboxes(this.checked)" />
        <th class="theader">Filename</th>
        <th class="theader">Original Image</th>
        <th class="theader">Edited Image</th>
      </thead>
      <tbody>
        {% for i in range(0, num_images) %}
        <tr id="tr{{i}}">
          <td> <input class="checkbox row" id="checkbox{{i}}" type="checkbox" onchange="onCheckboxChange()" /></td>
          <td>
            <div class="filename" id="filename{{i}}">{{ unedited_images[i].split(separator)[2] }}</div>
          </td>
          <td> <img id="unedited_img{{i}}" class="preview" src="{{ unedited_images[i] }}" /></td>
          <td> <img id="edited_img{{i}}" class="preview edited" src="{{ edited_images[i] }}" /></td>

          <td> <button id="but{{i}}" class="hidden" onclick="removeBackground(this.id)">Remove Background</button>
          </td>
          <td> <a id="a{{i}}" class="hidden" {% if edited_images[i].endswith("png") %} href="{{ edited_images[i] }}" {%
              endif %} download="test.png">Download</a></td>
          <td> <button id="delete{{i}}" class="hidden" onclick="deleteRow({{i}})"></a>Delete
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  </div>


  <script src="{{ url_for('static', filename='doAfterLoading.js') }}"></script>
</body>

</html>